:root{
    --55: #27374D;
    --30:#526D82;
    --10:#9DB2BF;
    --5: #DDE6ED;
}
*{
    padding:0;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


