<!DOCTYPE html>
<html>
<head>
    <title>Blog Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Blog Home</h1>
    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ url_for('view_article', id=article[0]) }}"><h2>{{ article[1] }}</h2>
            <p>{{ article[2] }}</p></a>
            <p>Author: {{ article[3] }}</p>
            <p>Date: {{ article[4] }}</p>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_article') }}">Create New Article</a>
</body>
</html>
